<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../public/logo1.png" type="image/png">
  <title>
     VCRAVEART
  </title>

  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="css/custom.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      // Add smooth scrolling to all links
      $("a").on('click', function (event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  
  <div class="modal fade in modal-fullscreen-xs-down" id="modal-fullscreen-xs-down" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >X</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <img src=".." style="height: 100%;width: 100%;" id="myImg">
          </div>
        </div>
      </div>
    </div>
  

  <nav class="navbar navbar-inverse mb-0 navbar-fixed-top" role="navigation ">
   
    <div class="container-fluid container1">
     
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" style = "color:blanchedalmond" href="#"><strong><i class="fas fa-paint-brush"></i>VCRAVEART</strong></a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</a></li>
          <li class="nav-item"><a href="#about" ><i class="fa fa-user"
            aria-hidden="true"></i> About</a></li>
          <li class="nav-item"><a href="#contact"><i class="fa fa-address-book"
            aria-hidden="true"></i> Contact</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="https://riya-sethi.herokuapp.com/Webpage-Resume-master/index.html"><span style="color: black;"><strong>RIYA SETHI</strong> </span> </a></li> -->
          <li><a id="light" href="#" role="button" class="btn btn-light active" style="margin-top:4px; margin-right:5px ; color: black; background-color: white; padding: 5px;">Light</a></li>
          <li><a id="dark" href="#" role="button" class="btn btn-dark " style="margin-top:4px;margin-right:5px;color: white; background-color: black;padding: 5px;">Dark</a></li>
         <!-- <button class="button" class="btn btn-dark" style="color: white; background-color: black;">Dark</button> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="jumbotron mb-0" >
        
        <div class="neon d-flex">
         
          <h1 class="display-1">
            <img class="logo" src="../public/logo1.png" >
          <span class="text" data-text="vcraveart">vcraveart</span>
          <span class="gradient"></span>
          <span class="spotlight"></span>
          <img class="logo" src="../public/logo1.png" >
         </h1>
        
    </div>
  </div>
  
  <!-- for dynamic data use templating -->

  <div class="container" style="margin-bottom: 10px;margin-top: 10px;">
    <%if(photolist.length){%>
    <div class="row">
      <%for(var i=0; i < photolist.length; i++){%>

      <div class="col-12 col-md-4">
        <div class="card d-flex justify-content-center"
          style="margin-bottom:20px;border-radius: 10px;width: auto;height: 450px;background-image: linear-gradient(to bottom, #006699 0%, #ffffff 100%);">
          <%var path=photolist[i].path%>
          <%var title=photolist[i].title%>
          <img src="<%=path%>" class="img card-img-top img-fluid" onclick="modalopener(this.src,this.alt)" style="padding: 0px;" alt="<%=title%>">
          <div class="card-body" style="padding: 10px;">
            <i class="fa fa-heart" id="like" aria-hidden="true" style="color: white;" onclick="likeToggler()"></i>
            
            <h3 class="card-title"><%=title%></h3>
            <h5 class="card-title">Category : <span
                style="display:inline; color: blue;"><%=photolist[i].category%></span>
            </h5>
            <h5 class="card-title">
              <Caption>Caption : </Caption><span style="display:inline; color: blue;"><%=photolist[i].caption%></span>
            </h5>
          </div>
        </div>
      </div>
      <%}%>
        </div>
      <%}%>
      <div id="particles-js"></div>
    </div>
<!-- media objects -->
    
    <div id="about" class="container" style="margin:20px auto; background-color:lightgray ;padding: 15px 25px;">
      <h1 style=" color: #d54d7b; font-family: 'Garamond', cursive; font-size: 50px; line-height: 50px; font-weight: normal; margin-bottom: 15px; margin-top: 15px; text-align: center; text-shadow: 0 1px 1px #fff; "><u>CONTRIBUTORS</u></h1>
      <div class="media">
        <div class="media-left media-middle">
          <a href="https://riya-sethi.herokuapp.com/Webpage-Resume-master/index.html">
            <img class="media-object" width="150px" height="150px" src="../public/Riya.jpeg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading" style="color: blue;">RIYA SETHI</h3>
          <i><b><h5>Developer, Artist</h5></b></i>
          <p>Flipping between Art and Programming. Passionate to serve the world with something unique and contribute towards making this world a better and aesthetic place. </p>
          <a href="https://riya-sethi.herokuapp.com/Webpage-Resume-master/index.html">Know More..</a>
        </div>
      </div>
      <div class="media" style="margin-bottom:10px ;">
        <div class="media-left media-middle">
          <a href="https://hitarthgandhi2708.wixsite.com/mysite">
            <img class="media-object" width="150px" height="150px" src="../public/Hitarth.jpeg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading" style="color: blue;">HITARTH GANDHI</h3>
          <i><b><h5>Developer</h5></B></i>
          <P>With a passion for coding, web development, and learning new things, I have both the knowledge of existing technologies and willingness necessary to keep up with the latest improvements in the technologies.</P>
          <a href="https://hitarthgandhi2708.wixsite.com/mysite">Know More..</a>
        </div>
      </div>
      
      
    </div>
    

    <section id="contact" style="margin-top: 20px;">
      <!-- Footer -->
      <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3" style="padding: 20px;">

              <!-- Content -->
              <!-- <h5 class="text-uppercase " style="font-weight: 900">ABOUT ME</h5> -->
              <p>   
                Artist is not a special type of man but every man is a special type of artist..❤
      Contact me for your own portrait👨‍🎤. Tried to club together my technical skills with my childhood passion, ART🎨.
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

              <!-- Content -->
              <!-- <h5 class="text-uppercase " style="font-weight: 900">CONTACT ME</h5> -->

              <p>
                <div>
                  <a href="mailto:riyasethi941@gmail.com">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                  </a>
                  <a href="tel:+917740079815">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                  </a>

                  <a href="https://www.instagram.com/v.crave.art/">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                  </a>

                  <a href="https://www.facebook.com/riya.s.7902564">
                    <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    &nbsp;
                    &nbsp;
                  </a>

                </div>
              </p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="copy" style="background-color: #4682b4; height: 3em;">&copy;
          2020 Copyright:VCRAVEART</div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="../custom.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="../particles.js"></script>
</body>

</html>